<div class="product-highlight-homepage-container">
<div class="product-highlight-homepage">
    <h3>New Releases</h3>
  <div class="cards">
    <% @dogs.sample(3).each do |dog|%>
    <div class="card-trip">
      <%= link_to %>
      <img src="https://images.unsplash.com/photo-1503256207526-0d5d80fa2f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80" />
      <div class="card-trip-infos">
        <div>
            <h2><%= dog.name %></h2>
            <p><%= dog.location %></p>
          <div class="d-flex justify-content-between">
            <h6><i class="fas fa-arrows-alt-v"></i><i class="fas fa-dog"></i> S </h6>
            <h6> <%= dog.age %><small>y/o</small></h6>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
