<div class="footer">
  <img src="/assets/images/logo_black_new.png"/>
  <div class="list">
    <ul>
      <li><strong>HOW IT WORKS?</strong></li><br>
      <li>MY ACCOUNT</li>
      <li>LOGIN</li>
      <li>SIGN UP</li>
    </ul>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
