<div class="footer">

<div class="product-highlight-homepage">
  <div class="list">
    <ul class="items">
      <li class="blue">FIND YOUR BUDDY</li><br>
      <li>HOW IT WORKS?</li>
      <li>SIGN UP</li>
      <li>SEARCH A DOG</li>
    </ul>
  </div>
  <div>
  <%= image_tag "logo_black.png"%>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>

