

<!-- >>>>>>NAVBAR SEM LOGIN<<<<<< -->

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="..rbnb/app/assets/images/logo_white.png"/>

</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">HOW IT WORKS?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LOG IN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SIGN UP</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">My bookings</a>
          <a class="dropdown-item" href="#">Another area</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- >>>>>>CAROUSEL<<<<<< -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active banner">
      <img class="d-block w-80" src="https://images.unsplash.com/photo-1455380579765-810023662ea2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
    </div>
    <div class="carousel-item banner">
      <img class="d-block w-80" src="https://images.unsplash.com/photo-1516734212186-a967f81ad0d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80">
    </div>
    <div class="carousel-item banner">
      <img class="d-block w-80" src="https://images.unsplash.com/photo-1532022160153-7735cd049992?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- >>>>>>CARDS<<<<<< -->

<div class="container">
  <div class="row">
    <div class="card col-md-6 col-lg-3">
      <img src="https://images.unsplash.com/photo-1503256207526-0d5d80fa2f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">JERÓNIMO</h5>
        <p class="card-text">Lisbon</p>
        <div class="box">
          <h6><i class="fas fa-arrows-alt-v"></i><i class="fas fa-dog blue"></i> S </h6>
          <button type="button" class="btn-medium">Details</button>
          <h6>7,5 <small>y/o</small></h6>
        </div>
      </div>
    </div>
    <div class="card col-md-6 col-lg-3">
      <img src="https://images.unsplash.com/photo-1487000863648-80cd0e0b3e59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">JERÓNIMO</h5>
        <p class="card-text">Lisbon</p>
        <div class="box">
          <h6><i class="fas fa-arrows-alt-v"></i><i class="fas fa-dog blue"></i> S </h6>
          <button type="button" class="btn-medium">Details</button>
          <h6>7,5 <small>y/o</small></h6>
        </div>
      </div>
    </div>

      <div class="card col-md-6 col-lg-3">
        <img src="https://images.unsplash.com/photo-1455103493930-a116f655b6c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">JERÓNIMO</h5>
          <p class="card-text">Lisbon</p>
          <div class="box">
            <h6><i class="fas fa-arrows-alt-v"></i><i class="fas fa-dog blue"></i> S </h6>
            <button type="button" class="btn-medium">Details</button>
            <h6>7,5 <small>y/o</small></h6>
          </div>
        </div>
      </div>
      </div>
</div>

<!-- >>>>>>CARDS<<<<<< -->

<!-- >>>>>>BRANDS_BAR<<<<<< -->

<!-- <ul class="list-inline">
  <il><img src= alt="" width=""></il>
  <il><img src="https://logodownload.org/wp-content/uploads/2018/09/royal-canin-logo.png" alt="Royal canin"></il>
  <il><img src="https://s3.amazonaws.com/assets.ominto.com/automation/e2743e30-ce3f-4055-a0aa-26b316210101.png" alt="Zoobio"></il>
  <il><img src="https://seeklogo.com/images/P/Pedigree-logo-0B0352F571-seeklogo.com.png" alt="Pedigree"></il>
  <il><img src="https://www.stickpng.com/assets/images/5ae22df933b73fa43b1a8946.png" alt="Purina"></il>
</ul> -->

<!-- >>>>>>FOOTER<<<<<< -->


<div class="footer">
  <img src="/assets/images/logo_black_new.png"/>
  <div class="list">
    <ul>
      <li><strong>HOW IT WORKS?</strong></li><br>
      <li>MY ACCOUNT</li>
      <li>LOGIN</li>
      <li>SIGN UP</li>
    </ul>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>

