.navbar-lewagon {
  justify-content: space-between;
  background: $gray;
  height: 70px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.navbar-lewagon a {
  list-style: none;
  letter-spacing: 6px;
  display: block;
  color: $white;
  padding: 0px 30px;
}

.nav-item .nav-link {
  color: $white;
  padding: 0px 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.navbar-lewagon li {
  text-align: center;
  padding: 0px 20px;
}

.navbar-lewagon ul {
  display: flex;
  align-items: center;
}

